@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.my-btn{
  width:100%;
  background-color: rgb(29, 155, 240);
}

.my-img{
  width:100%;
  height:100%;
}